{extends layout.latte}

{block title}Persons list{/block}

{block body}

    <div class="container">
		<div class="col-md-5">
		<a href="{link newPerson}" class="btn btn-success">Add person</a>
		</div>
	</div>

<table class="table table-stripped table-hower col-md-8">
	<tr>
		<th>FirstName</th>
		<th>LastName</th>
		<th>Height</th>
		<th>Gender</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	{foreach $osoby as $o}
		<tr>
			<td>{$o['first_name']}</td>
			<td>{$o['last_name']}</td>
			<td>{$o['height']}</td>
			<td>{$o['gender']}</td>

			<td>
				<button class="btn-sm btn-primary">
					<span class="fa fa-edit">
						<a href="{link editPerson}?id_person={$o['id_person']}"></a>
					</span>
				</button>
			</td>
			<td>
				<form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">
					<button class="btn-sm btn-danger">
						<span class="fa fa-trash"></span>
					</button>
				</form>
			</td>
		</tr>
	{/foreach}
</table>


{/block}